@import '../../../scss/variables';

.hero {
    background-color: $darkViolet;
    width: 100%;
    height: 600px;
    position: relative;

    @media (max-width: $tablet) {
        height: 100%;
        padding-top: 0;
        margin-top: 0;
    }

    .container {
        @media (max-width: $tablet){
            padding-top: 0;
        }
    }

    .hero-content {
        display: flex;
        justify-content: space-between;

        .hero-body {
            margin-right: 1.875rem;

            @media (max-width: $tablet){
                margin-right: 0;
            }
            .border {
                padding-top: 3.75rem;
                width: 9.375rem;
                border-top: solid 1px $darkGrayishViolet;
            }

            .title {
                font-weight: 700;
            }
        }

        @media (max-width: $tablet){
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                order: 1;
                margin-bottom: 4.375rem;
                width: 100%;
            }

            .hero-body {
                order: 2;
                display: flex;
                width: 530px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        
        .hero-body {
            width: 100%;
            max-width: 33.75rem;

            h1 {
                margin-bottom: 2.375rem;
                line-height: 1;
                z-index: 2;
            }
        
            p {
                color: #fff;
                margin-bottom: 2.375rem;
                line-height: 1.7;
            }

            .btn--hero-btn {
                cursor: pointer;
                font-size: .75rem;
                font-weight: $fw-700;
                &:hover {
                    background-color: #fff;
                    color: $veryDarkViolet;
                }
            }
        }

        img {
            width: 100%;
            max-width: 33.75rem;
            @media (max-width: $tablet) {
                width: 100vw;
                max-width: 100vw;
                z-index: 1;
            }
        }

        .hero__bg__pattern {
            &-desktop-right {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 400px;

                @media (max-width: $tablet) {
                    display: none;
                }
            }

            &-desktop-left {
                display: block;
                position: absolute;
                top: 30rem;
                left: 0;
                width: 12.5rem;
       
                
                @media (max-width: $tablet) {
                    display: none;
                }
            }

            &-mobile-right {
                display: none;
                @media (max-width: $tablet) {
                    display: block;
                    position: absolute;
                    width: 50%;
                    bottom: -450px;
                    right: 0;
                }
            }

            &-mobile-left {
                display: none;
                @media (max-width: $tablet) {
                    display: block;
                    position: absolute;
                    width: 70%;
                    top: 350px;
                    left: 0;
                }
            }
        } 
    }
}